<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artist Connect</title>
</head>

<body>

    <form method="POST">
        <label for="artist">Artist: </label>
            <input name="text">
            <input type="submit">
    </form>

    <script>
        $(function() {

            $("#artist").autocomplete({
                source: "YourPhpPage.php",
                minLength: 2,
                select: function (event, ui) {
                    log(ui.item ?
                        "Selected: " + ui.item.value + " aka " + ui.item.id :
                        "Nothing selected, input was " + this.value);
                }
            });
        });
    </script>

</body>
</html>